<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8" >
  <div class="container-fluid">
    <div class="container-fluid mt--3">
      <div class="row">
        <div class="col">
          <div class="row icon-examples">
            <div class="col-lg-3 col-md-6">
              <button type="button" (click)="toggleUserTasks()" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-single-02 text-danger"></i>
                  <span>User Tasks</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" (click)="toggleServiceTasks()" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-settings-gear-65 text-danger"></i>
                  <span>Service Tasks</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" (click)="toggleSendTasks()" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-email-83 text-danger"></i>
                  <span>Send Tasks</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" (click)="toggleGatewaySequenceFlows()"placement="top-center" triggers="hover focus click" class="btn-icon-clipboard">
                <div>
                  <i class="ni ni-compass-04 text-danger"></i>
                  <span>Decision Tasks</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center" triggers="hover focus click" class="btn-icon-clipboard">
                 <div>
                  <i class="ni ni-check-bold text-success"></i>
                  <span>Completed Tasks</span>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
  <div class="container-fluid mt--6" style="margin-bottom:90px" *ngIf="isUserTasksVisible">
    <div class="row">
      <div class="col">     
        <div class="card shadow">
          <div class="card-header border-0">
            <h5 class="mb-0"> <i class="ni ni-single-02 text-danger" style="margin-right:3px;"></i> User Tasks </h5>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Task Id</th>
                  <th scope="col">Task Name</th>
                  <th scope="col">Assignee</th>
                  <th scope="col">Form Key</th>

                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let userTask of userTasks">
                <tr>
                  <th scope="row">{{userTask.id}}</th>
                  <td>{{userTask.name}}</td>
                  <td>{{userTask.assignee || 'none'}}</td>
                  <td>{{userTask.formKey || 'none'}}</td>

                  <td>
                    <a class="btn btn-sm btn-primary" placement="top" ngbTooltip="Edit the assignee and candidate users" (click)="onUpdateClick(userTask.id)">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt--6" style="margin-bottom:90px" *ngIf="isServiceTasksVisible">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h5 class="mb-0"> <i class="ni ni-settings-gear-65 text-danger" style="margin-right:3px;"></i> Service Tasks </h5>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Task Id</th>
                  <th scope="col">Task Name</th>
                  <th scope="col">Delegate Expression</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let serviceTask of serviceTasks">
                <tr>
                  <th scope="row">{{serviceTask.id}}</th>
                  <td>{{serviceTask.name}}</td>
                  <td>{{serviceTask.delegateExpression}}</td>
                  <td>
                    <a class="btn btn-sm btn-primary">Edit</a>
                    <a class="btn btn-sm btn-info">Delegate</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container-fluid mt--6" style="margin-bottom:90px" *ngIf="isSendTasksVisible">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <!-- Send Tasks -->
          <div class="card-header border-0">
            <div>
              <h5 class="mb-0"> <i class="ni ni-email-83 text-danger" style="margin-right:3px;"> </i> Send Tasks </h5>
            </div>   
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush" >
              <thead class="thead-light">
                <tr>
                  <th scope="col">Task Id</th>
                  <th scope="col">Task Topic</th>
                  <th scope="col">Delegate Expression</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let sendTask of sendTasks">
                <tr>
                  <th scope="row">
                    {{sendTask.id}}
                  </th>
                  <td>
                    {{sendTask.name}}
                  </td>
                  <td>
                    {{sendTask.delegateExpression}}
                  </td>
                  <td>
                    <a  class="btn btn-sm btn-primary">Edit</a>
                    <a  class="btn btn-sm btn-info">Assign API</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mt--6" style="margin-bottom:90px" *ngIf="isGatewaySequenceFlowsVisible">
    <div class="row">
      <div class="col">
        <div class="card shadow">
          <div class="card-header border-0">
            <h5 class="mb-0"> <i class="ni ni-settings-gear-65 text-danger" style="margin-right:3px;"></i> Service Tasks </h5>
          </div>
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Gateway Source</th>
                  <th scope="col">Condition Expression</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody *ngFor="let gatewaySequenceFlow of gatewaySequenceFlows">
                <tr>
                  <th scope="row">{{gatewaySequenceFlow.sourceRef}}</th>
                  <td>{{gatewaySequenceFlow.conditionExpression}}</td>
                  <td>
                    <a class="btn btn-sm btn-primary">Edit</a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>