<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px ; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
<div class="container-fluid mt--9">
  <div class="row mt-5">
    <div class="col-6">
      <div class="card bg-white shadow">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col text-center">
              <h6 class="heading-small text-muted mb-4">Modeler</h6>
              <div class="pl-lg-4">
                <img src="../../../assets/img/brand/modeler.gif" alt="GIF preview" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card bg-white shadow">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col text-center">
              <h6 class="heading-small text-muted mb-4">Form Editor</h6>
              <div class="pl-lg-4">
                <img src="../../../assets/img/brand/formeditor.gif" style="margin-top:1%" alt="GIF preview" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
