<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px ; background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <div class="d-flex align-items-center">
          <h1 class="display-2 text-white">BONJOUR, {{ username }}</h1>
          <div class="ml-2">
            <span class="badge badge-pill badge-warning text-danger">ADMIN</span>
          </div>
        </div>
        <p class="text-white mt-0 mb-5">Présentation de <i>XTENFLUX</i>, une application de pointe méticuleusement conçue pour rationaliser et automatiser le <i>BPMN</i> (Business Process Model et Notation) des flux de travail avec la plus grande efficacité. Avec XTENFLUX, vous pouvez facilement <i>concevoir</i>, simuler et <i>exécuter</i> des processus métier complexes, révolutionnant ainsi le fonctionnement de votre organisation.</p>        <a routerLink="/designer" class="btn btn-info">Modéliser un workflow
        </a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--9">
  <div class="row mt-5">
    <div class="col-6">
      <div class="card bg-white shadow">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col text-center">
              <h6 class="heading-small text-muted mb-4">Modeler</h6>
              <div class="pl-lg-4">
                <img src="../../../assets/img/brand/modeler.gif" alt="GIF preview" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card bg-white shadow">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col text-center">
              <h6 class="heading-small text-muted mb-4">Form Editor</h6>
              <div class="pl-lg-4">
                <img src="../../../assets/img/brand/formeditor.gif" style="margin-top:1%" alt="GIF preview" class="img-responsive">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>